.Square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  position: relative;
}
.Square.black {
  background-color: saddlebrown;
}
.Square.dummy {
  background-color: cornsilk;
}
.Square.allowed {
  background-color: red;
}
.Square__index{
  position: absolute;
  top: 0;
  left: 0;
  font-size: smaller;
}
